body, html {
    height: 100%;
    margin: 0;
    font-family: 'Merriweather', serif; /* The font from google fonts*/
    font-size: 18px;
  }
  
  * {
    box-sizing: border-box;
  } 
  
  /*NAVIGATION OF THE PAGE*/
  nav {
      background-color: #333;
      position: fixed; /* sticky navigation */
      top: 0; 
      width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1; /* the position above other elements */
    
    }
    
    nav a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
    }
    /* The drop-down content in the menu */
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit; /* The value of the color will be inherited from a parent-element  */
      margin: 0;
      text-transform: uppercase;
     
    }
    
    nav a:hover, .dropdown:hover .dropbtn, .active{
      background-color: #555454;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 2; 
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #cdcbcb;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
  
   /* HEADER */
  header {
    padding-top: 60px ;
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 20px;
   
  }
   h1 {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #4e4e4e;
	
   }
  header p {
    margin: 0 15% 0 15%;
  }
  
  
  
   /* CONTENT */
    
    /* Main content */
.main   {
    background-color: white;
    padding: 0 20px 10px 20px;
    margin: 0 40px 20px 40px;
}

    h2 {
        text-align: center;
        font-size: 22px;
        color: #4e4e4e;
        margin-top: 40px;
      }

    div.map {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px dotted #DDD;
       
    }
    iframe {
        margin-bottom: 40px;
        width: 70%;
        height: 500px;
        border: 2px solid #505050;
    }

    img {
      margin-bottom: 40px;
      border: 2px solid #505050;
  }
